*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef5ff;
    color:#333;
}

/* HEADER */

header{
    background:linear-gradient(135deg,#0b5ed7,#084298);
    color:white;
    text-align:center;
    padding:30px 20px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.logo{
    width:110px;
    height:110px;
    border-radius:50%;
    background:white;
    padding:6px;
    margin-bottom:15px;
}

header h1{
    font-size:32px;
    margin-bottom:8px;
}

.subtitle{
    font-size:18px;
    color:#ffd54f;
}

/* MAIN */

main{
    max-width:1100px;
    margin:auto;
    padding:25px;
}

/* HERO */

.hero{
    background:white;
    padding:30px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    margin-bottom:30px;
}

.hero h2{
    color:#0b5ed7;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:15px;
    border:2px solid #0b5ed7;
    border-radius:10px;
    font-size:16px;
    margin-bottom:20px;
}

.buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

button{
    flex:1;
    min-width:180px;
    background:#0b5ed7;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#084298;
    transform:translateY(-2px);
}

/* CARDS */

.cards{
.building-photo{
    width:100%;
    max-width:700px;
    display:block;
    margin:20px auto;
    border-radius:15px;
    box-shadow:0 6px 15px rgba(0,0,0,.2);
}
