*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(135deg,#e3f2fd,#f8f9fa,#e8f5e9);
color:#333;
}

header{
background:linear-gradient(90deg,#0D47A1,#1976D2,#42A5F5);
color:white;
text-align:center;
padding:25px;
border-bottom-left-radius:25px;
border-bottom-right-radius:25px;
box-shadow:0 5px 15px rgba(0,0,0,.3);
}

header img{
width:90px;
border-radius:50%;
background:white;
padding:5px;
}

header h1{
font-size:30px;
margin-top:10px;
}

header h2{
color:#FFD54F;
font-size:18px;
}

main{
padding:20px;
max-width:900px;
margin:auto;
}

.hero{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,.15);
margin-bottom:20px;
text-align:center;
}

input{
width:100%;
padding:15px;
border:none;
border-radius:30px;
background:#eef3ff;
font-size:16px;
margin:15px 0;
}

button{
width:100%;
padding:15px;
margin:10px 0;
border:none;
border-radius:30px;
font-size:17px;
font-weight:bold;
color:white;
cursor:pointer;
background:linear-gradient(90deg,#43A047,#66BB6A);
transition:.3s;
}

button:hover{
transform:scale(1.03);
background:linear-gradient(90deg,#1E88E5,#42A5F5);
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
}

.card{
background:white;
padding:20px;
border-radius:18px;
text-align:center;
box-shadow:0 6px 15px rgba(0,0,0,.15);
border-top:5px solid #1976D2;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h3{
color:#0D47A1;
}

footer{
margin-top:30px;
padding:20px;
text-align:center;
color:white;
background:linear-gradient(90deg,#0D47A1,#1976D2);
border-top-left-radius:20px;
border-top-right-radius:20px;
}
