*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f8fc;
    color:#333;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

header img{
    width:90px;
    margin-bottom:10px;
}

header h1{
    font-size:30px;
}

header h2{
    color:#FFD700;
    font-size:18px;
    margin-top:5px;
}

main{
    max-width:900px;
    margin:auto;
    padding:20px;
}

input{
    width:100%;
    padding:14px;
    border:2px solid #003366;
    border-radius:8px;
    font-size:16px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:14px;
    background:#006400;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    margin-bottom:12px;
    transition:0.3s;
}

button:hover{
    background:#008f39;
}

ul{
    list-style:none;
    margin-top:15px;
}

li{
    background:white;
    margin:10px 0;
    padding:15px;
    border-left:6px solid #003366;
    border-radius:8px;
    font-size:18px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
.hero{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    margin-bottom:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin:20px 0;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#003366;
}
